.ant-pro-basicLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .ant-layout {
    background: #f0f2f5;
  }

  &-content {
    display: flex;
    // position: relative;
    margin: 24px;

    &-fluid {
      width: 100%;
    }

    &-fixed {
      margin: 0 auto;
      width: 1200px;
      max-width: 1200px;

      &:has(.ant-pro-page-container) {
        margin: unset;
        width: 100%;
        max-width: unset;
      }
    }
  }
}

[data-theme="dark"] {
  .ant-layout {
    background: rgb(42 44 44);
  }
}
